.idea/*
tx-logs
build
*.iml
bin
.DS_Store
/logs
/*/logs
/logback
/*/logback
*target*
*asta.bak*
*asta.lock*
mitix-len/docs/*asta.lock*

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
.classpath
.settings/*
*/.settings/*
.loadpath



